---
title: Banda RPA
---
<!DOCTYPE html>
<html lang="{{ site.lang }}" class="scroll-smooth">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="[font-family:'Martian_Mono_Variable',monospace] bg-black text-white">
  {% include "partials/nav.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  <script>
    document.getElementById("ano").textContent = new Date().getFullYear();
  </script>
  {% block extraScripts %}{% endblock %}
</body>
</html>