@import "tailwindcss";

@source "../**/*.{njk,html,js}";

@font-face {
  font-family: "Anton SC";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/anton-sc-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Martian Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url("../fonts/martian-mono-latin-wght.woff2") format("woff2-variations");
}
