<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
<link rel="manifest" href="./site.webmanifest">
<meta name="theme-color" content="#000000">
<link rel="preload" as="font" type="font/woff2" href="./fonts/anton-sc-latin-400.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="./fonts/martian-mono-latin-wght.woff2" crossorigin>
{% inlineCss %}
{% block extraHead %}{% endblock %}
